<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time Spent (in Hours)</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |row|}}
            <tr>
                <td>{{row.date}}</td>
                <td>{{row.time}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>