<div class="row">
    <div class="col-md-12">
        <h4>Breakdown of time spent on each task for last 7 days</h4>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        {{dashboard-table model=model}}
      </div>
    </div>
  </div>
</div>
